.background {
  background-image: url("../assets/images/background_stars_grid.jpg");
  min-height: 100vh;
  width: 100%;
}

.discover_text {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-left: 20px;
  font-family: cursive;
}
